<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query %><br />
    <%= f.select :query_id, options_for_select(@queries.collect {|p| [p.name, p.id]}), :include_blank => '' %>
  </div>
  <div class="dictionary hidden">
    <%= label_tag :dictionary %><br />
    <%= select_tag :dictionary_id, options_for_select(@dictionaries.collect {|p| [p['Name'], p['Code']]}), :include_blank => '' %>
  </div>
  <div class="checkboxes">

    <%= label_tag 'campaign_info', check_box_tag('campaign_info') + "Сведения о приемной кампании", :class => "checkbox" %><br />
    <%= label_tag 'admission_info', check_box_tag('admission_info') + 'Сведения об объеме и структуре приема', :class => "checkbox" %><br />
    <%= label_tag 'application', check_box_tag('application') + 'Сведения о заявлении', :class => "checkbox" %><br />
    <%= label_tag 'applications', check_box_tag('applications') + 'Сведения о заявлениях', :class => "checkbox" %><br />
  </div>
  <div class="submit">
    <%= f.submit 'Отправить запрос', :class => "btn" %>
  </div>
<% end %>
