<h1>Listing requests</h1>
<%= will_paginate @requests %>

<%= link_to 'New Request', new_request_path %>
<table>
  <tr>
    <th>Query</th>
    <th>Input</th>
    <th>Output</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.query.id %></td>
    <td><%= request.input.force_encoding("UTF-8") %></td>
    <td><%= request.output.force_encoding("UTF-8") %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @applications %>
