<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>
      Input:
</th>
<th>
Output:
</th>
</tr>
<tr>
<td>
<pre>
  <%= @request.input.force_encoding("UTF-8")
 %>
</pre>
</td>
<td>
<pre>
  <%= @request.output.force_encoding("UTF-8")
 %>
</pre>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
