<!DOCTYPE html>
<html>
<head>
  <title>Priem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta charset='utf-8' />
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<ul class="nav nav-tabs">
  <li>
    <%= link_to 'Новый запрос', new_request_path %>
  </li>
  <li>
    <%= link_to 'Заявления', applications_path %>
  </li>
</ul>
</nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
